
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.357) , rgb(0,0,0,0.4) , rgba(0, 0, 0, 0.732) , rgba(0, 0, 0, 0.828)), url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.main  form input{
    height: 70px;
    width: 400px;
    font-size: 36px;
    padding: 0px 30px;
    border-radius: 20px;
}
.main  form button{
    height: 80px;
    font-size: 40px;
    border: none;
    width: 300px;
    border-radius: 50px;
}
.movieContainer{
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}
.movieCard{
    height: 300px;
    width: 22%;
    border: solid;
    transition: 0.4s ease all;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.movieCard img{
    height: 200px;
}
.movieCard:hover{
    box-shadow: 10px 10px 10px 0px #a0a0a0;
    transform: translateY(-10px) scale(1.1);
}

